<FluentCard Style="background:#111; color:white; text-align:center; padding:1.5rem; margin-top:2rem;">
    <p>© 2025 Evento. All rights reserved.</p>

    <nav aria-label="Footer menu" style="margin-top:1rem;">
        <FluentNavMenu Orientation="Horizontal" Collapsible="false">
            <FluentNavLink Href="https://facebook.com" Icon="@(new Icons.Regular.Size20.WeatherSunny())" IconColor="Color.Accent">
                Facebook
            </FluentNavLink>
            <FluentNavLink Href="https://twitter.com" Icon="@(new Icons.Regular.Size20.Thinking())" IconColor="Color.Accent">
                Twitter
            </FluentNavLink>
            <FluentNavLink Href="https://linkedin.com" Icon="@(new Icons.Regular.Size20.PeopleCommunity())" IconColor="Color.Accent">
                LinkedIn
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</FluentCard>
